// Adapted from the Airbnb style guide at https://github.com/airbnb/javascript
{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "semi": ["error", "never"],
    "no-use-before-define": ["error", { "functions": false }],
    "object-curly-spacing": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0
  }
}
